h1{
  text-align: center;
}
#form{
  display: block;
  text-align: center;
  margin-top: 188px;
}
#button{
  text-align: center;
  height: 25px;
}
#number{
  width: 250px;
  height: 20px;
  padding-left: 10px;
}
#year{
  display: none;
}
